.articleSideLeft{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.articleSideLeft h2,
.articleSideRight h2 {
  font-weight: 700;
  font-size: 2.4rem;
  color: #290742;
}

.articleSideLeft p
.articleSideRight p {
  font-size: 1.6rem;
}

.articleSideRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.9rem;
}

.startEnd,
.rightEnd{
  display: flex;
  flex-direction: column;
  gap: .8rem;
}