.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.footer div h2 {
  font-size: 2.4rem;

  color: #290742;
}

.footer div img {
  width: 100%;
  object-fit: cover;
  transition: transform 800ms
}

.footer div img:hover {
  transform: scaleY(1.1);
}